<div class="offset"></div>
<div class="light-wrapper page-title">
  <div class="container inner">
    <h1 class="pull-center">Weekly Menu</h1>
    <br>
    <h6>Select the recipe you would</h6>
    <h6>like from the options below:</h6>
  </div>
</div>
<div class="well" id="parallax"></div>
<div ng-app="app" ng-controller="weeklyMenuController">
<div id="weekly-menu" class="dark-wrapper">
  <div class="container inner">
    <div class="owl-team owlcarousel carousel-th team">
      <% @weekly_menu.each do |recipe| %> 
        <div class="item" ng-click="changeWeeklyRecipe('<%= recipe['spoonacularSourceUrl'] %>'); showIframe()">
          <figure><img src="https://spoonacular.com/recipeImages/<%= recipe['id'] %>-480x360.jpg" alt="" /></figure>
          <div class="image-caption">
            <h3><%= recipe['title'] %></h3>
          </div>
        </div>
      <% end %>
    </div>
    <!-- /.owlcarousel --> 
  </div>
</div>

<div>
  <div class="well" id="parallax"></div>
    <div id="iframeDiv">
      
      <span id="anchor"></span>
      <iframe ng-show="iframeDisplay" id="displayedRecipe" src="{{ currentRecipeUrl }}" style="overflow: hidden"></iframe>
    
    </div>
  <!-- </div> -->
</div>
<div class="well" id="parallax"></div>