<div class="offset"></div>
  <div class="light-wrapper page-title">
    <div class="container inner">
      <h1 class="pull-left">Weekly Menu</h1>
      <div class="navigation pull-right"> <a href="#" title="Previous"><i class='icon-left-open-1'></i></a> <a href="#" title="Next"><i class='icon-right-open-1'></i></a> </div>
    </div>
  </div>
  <div ng-app="app" class="dark-wrapper">
    <div ng-controller="weeklyMenuController" class="container inner">
      <div class="row">
        <div class="col-sm-8 content">
          <iframe src="https://spoonacular.com/ramen-noodle-coleslaw-556177" style="border: 0px none;  height: 1500px; width: 667px;"></iframe>
        </div>
        <aside class="col-sm-4 sidebar lp30">
          <div class="sidebox widget">
            <h3>This is your menu for this week.</h3>
            <p> Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. </p>
            <ul class="social">
              <li><a href="#"><i class="icon-s-rss"></i></a></li>
              <li><a href="#"><i class="icon-s-twitter"></i></a></li>
              <li><a href="#"><i class="icon-s-facebook"></i></a></li>
              <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
              <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
              <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
              <li><a href="#"><i class="icon-s-flickr"></i></a></li>
            </ul>
          </div>
          <!-- /.widget -->
          <div class="sidebox widget">
            <h3>Popular Posts</h3>
            <ul class="post-list">
              <% @weekly_menu.sample(5).each do |dish| %>
                <li ng-click="changeWeeklyRecipe(<%=  %>)">
                  <div class="icon-overlay small icn-link"><img src="<%= dish['image'] %>" alt="" /> </div>
                  <div class="meta">
                    <h6><%= dish['title'] %></h6>
                    
                    <em>by <%= dish['sourceName'] %></em> </div>
                </li>
              <% end %>
            </ul>
            <!-- /.post-list --> 
          </div>
          <!-- /.widget -->
          <div class="sidebox widget">
            <h3>Search</h3>
            <form class="searchform" method="get">
              <input type="text" id="s2" name="s" value="type and hit enter" onfocus="this.value=''" onblur="this.value='type and hit enter'"/>
            </form>
          </div>
          <!-- /.widget -->
          <div class="sidebox widget">
            <h3>Custom Text</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <p>Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue. Fusce  mauris condimentum.</p>
          </div>
          <!-- /.widget -->
          <div class="sidebox widget">
            <h3>Categories</h3>
            <ul class="circled">
              <li><a href="#">Web Design (21)</a></li>
              <li><a href="#">Photography (19)</a></li>
              <li><a href="#">Graphic Design (16)</a></li>
              <li><a href="#">Manipulation (15)</a></li>
              <li><a href="#">Motion Graphics (12)</a></li>
            </ul>
          </div>
          <!-- /.widget -->
          <div class="sidebox widget">
            <h3 class="widget-title">Tags</h3>
            <div class="tagcloud"> <a href="#" style="font-size: 9pt;">blogroll</a> <a href="#" style="font-size: 19pt;">daily</a> <a href="#" style="font-size: 9pt;">dialog</a> <a href="#" style="font-size: 9pt;">gallery</a> <a href="#" style="font-size: 10pt;">journal</a> <a href="#" style="font-size: 9pt;">link</a> <a href="#" style="font-size: 12pt;">motion</a> <a href="#" style="font-size: 9pt;">music</a> <a href="#" style="font-size: 20pt;">photo</a> <a href="#" style="font-size: 13pt;">professional</a> <a href="#" style="font-size: 16pt;">quotation</a> <a href="#" style="font-size: 9pt;">show</a> <a href="#" style="font-size: 15pt;">sound</a> <a href="#" style="font-size: 9pt;">tv</a> <a href="#" style="font-size: 9pt;">video</a> <a href="#" style="font-size: 9pt;">gift</a> <a href="#" style="font-size: 19pt;">label</a> <a href="#" style="font-size: 9pt;">christmas</a> <a href="#" style="font-size: 9pt;">holiday</a> <a href="#" style="font-size: 10pt;">fun</a> <a href="#" style="font-size: 9pt;">recipes</a> <a href="#" style="font-size: 12pt;">concert</a> <a href="#" style="font-size: 9pt;">drinks</a> <a href="#" style="font-size: 20pt;">apps</a> <a href="#" style="font-size: 13pt;">iphone</a> <a href="#" style="font-size: 16pt;">ipad</a> <a href="#" style="font-size: 9pt;">develop</a> <a href="#" style="font-size: 15pt;">marketing</a> <a href="#" style="font-size: 9pt;">strategy</a> <a href="#" style="font-size: 13pt;">food</a> <a href="#" style="font-size: 12pt;">typography</a> <a href="#" style="font-size: 9pt;">mobile</a> <a href="#" style="font-size: 15pt;">envato</a> <a href="#" style="font-size: 9pt;">icon</a> <a href="#" style="font-size: 9pt;">coda</a> <a href="#" style="font-size: 20pt;">jquery</a> <a href="#" style="font-size: 9pt;">cms</a> </div>
            <!-- /.tag-cloud --> 
          </div>
          <!-- /.widget --> 
        </aside>
        <!-- /.col-sm-4 .sidebar --> 
        
      </div>
      <!-- /.row --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.dark-wrapper -->
  