<!-- <h1>Dashboard page</h1>

<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

<button>Get External Content</button>

<div>
<iframe src="https://www.edamam.com/recipe/teriyaki-chicken-7bf4a371c6884d809682a72808da7dc2/chicken" style="border: 0px none; margin-left: -185px; height: 859px; margin-top: -533px; width: 926px;">
</iframe>
</div>

 --> 





<!DOCTYPE html>
<html lang="en-US">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<meta name="viewport" content="width=device-width" />	
	<title>Left Sidebar Page &laquo;  Basil</title>
	
	<link rel="pingback" href="http://basil.boxydemos.com/xmlrpc.php" />
	
	<style type="text/css">

	body.transparent .basilSlider,
	body.floating .basilSlider,
	body.transparent .basilSlider .basilImageSlider,
	body.floating .basilSlider .basilImageSlider,
	body.transparent .basilSlider .basilImageSlider .basilSlide,
	body.floating .basilSlider .basilImageSlider .basilSlide { height:689px; }
	
	body.transparent .basilSlider .basilRecipeSlider,
	body.floating .basilSlider .basilRecipeSlider,
	body.transparent .basilSlider .basilRecipeSliderBG,
	body.floating .basilSlider .basilRecipeSliderBG { top:445px; }
	
	body.transparent .basilSlider .basilSliderNav,
	body.floating .basilSlider .basilSliderNav { height:867px; }

</style>	
			<script type="text/javascript">
				var i18n_cooked_timer_complete = 'Timer Complete!';
				
				var cp_star_review_optional = true;			</script>
			
		<link rel='dns-prefetch' href='//assets.pinterest.com' />
<link rel='dns-prefetch' href='//maxcdn.bootstrapcdn.com' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Basil &raquo; Feed" href="http://basil.boxydemos.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Basil &raquo; Comments Feed" href="http://basil.boxydemos.com/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="Basil &raquo; Left Sidebar Page Comments Feed" href="http://basil.boxydemos.com/left-sidebar-page/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/basil.boxydemos.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.4"}};
			!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='validate-engine-css-css'  href='http://basil.boxydemos.com/wp-content/plugins/wysija-newsletters/css/validationEngine.jquery.css?ver=2.7.10' type='text/css' media='all' />
<link rel='stylesheet' id='rs-plugin-settings-css'  href='http://basil.boxydemos.com/wp-content/plugins/revslider/public/assets/css/settings.css?ver=5.3.0.1' type='text/css' media='all' />
<style id='rs-plugin-settings-inline-css' type='text/css'>
.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}
</style>
<link rel='stylesheet' id='cp-font-awesome-css'  href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css?ver=4.6.3' type='text/css' media='all' />
<link rel='stylesheet' id='cp-frontend-style-css'  href='http://basil.boxydemos.com/wp-content/plugins/cooked/css/front-end.css?ver=2.4.1' type='text/css' media='all' />
<link rel='stylesheet' id='cp-nouislider-css'  href='http://basil.boxydemos.com/wp-content/plugins/cooked/vendor/css/jquery.nouislider.min.css?ver=2.4.1' type='text/css' media='all' />
<link rel='stylesheet' id='cp-fancybox-css'  href='http://basil.boxydemos.com/wp-content/plugins/cooked/vendor/js/fancybox/jquery.fancybox.css?ver=2.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='cp-responsive-styles-css'  href='http://basil.boxydemos.com/wp-content/plugins/cooked/css/responsive.css?ver=2.4.1' type='text/css' media='all' />
<link rel='stylesheet' id='basil-gf-custom-css'  href='//fonts.googleapis.com/css?family=Lato%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800&#038;subset=latin%2Ccyrillic-ext%2Ccyrillic%2Cgreek-ext%2Cvietnamese%2Clatin-ext&#038;ver=4.7.4' type='text/css' media='all' />
<link rel='stylesheet' id='basil-font-awesome-css'  href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css?ver=4.7.4' type='text/css' media='all' />
<link rel='stylesheet' id='basil-standardize-css'  href='http://basil.boxydemos.com/wp-content/themes/basil/css/standardize.css?ver=1492025964' type='text/css' media='all' />
<link rel='stylesheet' id='basil-slicknav-css'  href='http://basil.boxydemos.com/wp-content/themes/basil/css/slicknav.css?ver=1492025964' type='text/css' media='all' />
<link rel='stylesheet' id='basil-animate-css'  href='http://basil.boxydemos.com/wp-content/themes/basil/css/animate.css?ver=1492025964' type='text/css' media='all' />
<link rel='stylesheet' id='basil-styles-css'  href='http://basil.boxydemos.com/wp-content/themes/basil/style.css?ver=1492025964' type='text/css' media='all' />
<link rel='stylesheet' id='basil-woocommerce-css'  href='http://basil.boxydemos.com/wp-content/themes/basil/css/woocommerce.css?ver=1492025964' type='text/css' media='all' />
<link rel='stylesheet' id='basil-responsive-css'  href='http://basil.boxydemos.com/wp-content/themes/basil/css/responsive.css?ver=1492025964' type='text/css' media='all' />
<script type='text/javascript' src='http://basil.boxydemos.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js?ver=5.3.0.1'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js?ver=5.3.0.1'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/plugins/cooked/vendor/js/jquery.nouislider.min.js?ver=7.0.10'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/plugins/cooked/vendor/js/jquery.fullscreener.min.js?ver=2.4.1'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/plugins/cooked/vendor/js/isotope.pkgd.min.js?ver=2.0.0'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/plugins/cooked/vendor/js/jquery.plugin.min.js?ver=2.0.1'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/plugins/cooked/vendor/js/jquery.countdown.min.js?ver=2.0.1'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/plugins/cooked/vendor/js/jquery.cookie.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/plugins/cooked/vendor/js/jquery.fitvids.js?ver=1.1'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/plugins/cooked/vendor/js/fancybox/jquery.fancybox.pack.js?ver=2.1.5'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/plugins/cooked/js/functions.js?ver=2.4.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/left-sidebar-page\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"http:\/\/basil.boxydemos.com\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script type='text/javascript' src='//basil.boxydemos.com/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.0.5'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart.js?ver=4.12.1'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/themes/basil/js/jquery.easing.js?ver=1492025964'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/themes/basil/js/jquery.slicknav.min.js?ver=1492025964'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/themes/basil/js/modernizr.js?ver=1492025964'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/themes/basil/js/fitvids.js?ver=1492025964'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/themes/basil/js/wow.min.js?ver=1492025964'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/themes/basil/js/isotope.pkgd.min.js?ver=1492025964'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/themes/basil/js/jquery.carouFredSel-6.2.1-packed.js?ver=1492025964'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-content/themes/basil/js/basil.js?ver=1492025964'></script>
<link rel='https://api.w.org/' href='http://basil.boxydemos.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://basil.boxydemos.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://basil.boxydemos.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.7.4" />
<meta name="generator" content="WooCommerce 3.0.5" />
<link rel="canonical" href="http://basil.boxydemos.com/left-sidebar-page/" />
<link rel='shortlink' href='http://basil.boxydemos.com/?p=363' />
<link rel="alternate" type="application/json+oembed" href="http://basil.boxydemos.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fbasil.boxydemos.com%2Fleft-sidebar-page%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://basil.boxydemos.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fbasil.boxydemos.com%2Fleft-sidebar-page%2F&#038;format=xml" />
<style type="text/css">body #cooked-plugin-page .recipe-action .fs-btn,
body #cooked-plugin-page .timer-trigger,
body #cooked-plugin-page a,
body #cooked-submit-recipe-form .section-row .section-head h2,
body #cooked-submit-recipe-form .section-row .slider .amount.active,
body #cooked-plugin-page .recipes-pagination a.next,
body #cooked-plugin-page .recipes-pagination a.prev,
body #cooked-plugin-page .recipe-info p.terms-list a
{ color: #0bbe5f; }

body #cooked-plugin-page .btn,
body #cooked-plugin-page #submit,
body #cooked-plugin-page .timer-wrap,
body #cooked-submit-recipe-form .section-row .upload-field-wrap .button,
body #cooked-submit-recipe-form input.sbmt-button,
body #cooked-plugin-page .recipes-pagination a,
body #cooked-plugin-page .cp-public-tag,
body #cooked-page-form input[type=submit],
body .cooked-timer-done-screen
{ background: #0bbe5f; }

body #cooked-plugin-page .search-section .search-row .sbmt-button input
{ background-color: #0bbe5f; }

body #cooked-plugin-page .recipe-hints p .hint-check.checked
{ background: #0bbe5f; border-color: #0bbe5f; }

body #cooked-plugin-page .timer-wrap .pp-btn,
body #cooked-plugin-page .timer-wrap .x-timer
{ color: #41d385; }

body #cooked-plugin-page .btn:hover,
body #cooked-plugin-page #submit:hover,
body #cooked-plugin-page .fullscreen-actions .x-fs-btn,
body #cooked-plugin-page .tab-links a,
body #cooked-plugin-page .recipes-pagination a:hover,
body #cooked-page-form input[type=submit]:hover,
body #cooked-plugin-page .timer-wrap .timer,
body #cooked-submit-recipe-form .section-row .upload-field-wrap .button:hover
{ background: #06a053; }

body #cooked-plugin-page .search-section .search-row .sbmt-button input:hover
{ background-color:#06a053; }

body #cooked-submit-recipe-form .section-row .upload-field-wrap .button
{ border-color: #06a053; }</style><link rel="shortcut icon" href="http://basil.boxydemos.com/wp-content/uploads/sites/7/2015/05/favicon.png"><style type="text/css">/* *****************************
FONTS
***************************** */


body, p, .basilPageContent ul, .basilPageContent ol, .basilPageContent address, button, select, .basilButton, input, textarea {
	font-family:'Lato', sans-serif;
	font-weight:normal;
	letter-spacing:0em;
	font-style:normal;
}
body, p, .basilPageContent ul, .basilPageContent ol, .basilPageContent address, .widget_wysija_cont p label, p.wysija-checkbox-label {
	font-size:15px;
	line-height:24px;
	text-decoration:none;
	text-transform:none;
}

p, .basilPageContent ul, .basilPageContent ol, .basilPageContent address {
	margin-bottom:15px;
}


h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	letter-spacing:0em;
	font-style:normal;
	font-size:35px;
	line-height:45px;
	text-decoration:none;
	text-transform:none;
	margin:0 0 30px;
}


h2 {
	font-family:'Lato', sans-serif;
	font-weight:600;
	letter-spacing:0.02em;
	font-style:normal;
	font-size:22px;
	line-height:39px;
	text-decoration:none;
	text-transform:uppercase;
	margin:0 0 20px;
}


h3 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	letter-spacing:0.02em;
	font-style:normal;
	font-size:18px;
	line-height:30px;
	text-decoration:none;
	text-transform:none;
	margin:0 0 20px;
}


h4 {
	font-family:'Lato', sans-serif;
	font-weight:600;
	letter-spacing:0em;
	font-style:normal;
	font-size:17px;
	line-height:27px;
	text-decoration:none;
	text-transform:none;
	margin:0 0 15px;
}


h5 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	letter-spacing:0em;
	font-style:normal;
	font-size:13px;
	line-height:18px;
	text-decoration:none;
	text-transform:none;
	margin:0 0 15px;
}


h6 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	letter-spacing:0em;
	font-style:normal;
	font-size:11px;
	line-height:16px;
	text-decoration:none;
	text-transform:none;
	margin:0 0 15px;
}

.basilPageContent p { color:#555555; }
.basilPageContent h1 { color:#555555; }
.basilPageContent h2 { color:#555555; }
.basilPageContent h3 { color:#555555; }
.basilPageContent h4 { color:#555555; }
.basilPageContent h5 { color:#555555; }
.basilPageContent h6 { color:#555555; }

/* *****************************
LAYOUT CUSTOMIZATIONS
***************************** */

	#basilWrapper { width:100%; margin:0 auto; }
	
body {  background-color:#ffffff; }
#basilHeaderTop { height:120px; }


/* *****************************
COLORS
***************************** */

/* LINKS */
body a { color:#0bbe5f; }
body a:hover { color:#555; }

.woocommerce ul.products li.product a:first-child .onsale,
.basilFeaturedProducts ul.products li.product a:first-child .onsale,
.basilFeaturedProducts ul.products li.product a:first-child .price,
.woocommerce .product .onsale,
.woocommerce.single-product div.product .summary .price { background:#0bbe5f; }

.woocommerce ul.products li.product a:first-child .price,
ul.product_list_widget li .amount,
.woocommerce del { color:#0bbe5f; }

/* CUSTOM COLORS */
.bgColor-1 { background-color:#0bbe5f; color:#fff; }
.bgColor-1:hover { background-color:#000; color:#fff; }
.bgColor-2, .sticky-tag { background-color:#ea675d; color:#fff; }
.bgColor-2:hover { background-color:#000; color:#fff; }
.bgColor-3 { background-color:#aaa; color:#fff; }
.bgColor-3:hover { background-color:#666; color:#fff; }

/* FORM ELEMENTS */
button, input[type="button"], input[type="reset"], input[type="submit"], .wysija-submit, #comments-list ol li.comment div.reply a, .searchform .searchsubmit, .widget form#searchform #searchsubmit { background-color:#0bbe5f; color:#fff; }
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .wysija-submit:hover, #comments-list ol li.comment div.reply a:hover, .searchform .searchsubmit:hover, .widget form#searchform #searchsubmit:hover { background-color:#000; color:#fff; }
input[type=text], input[type=email], input[type=password], input[type=tel], textarea { border:1px solid #ddd; background:#fff; color:#888; }

/* WOOCOMMERCE */
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #review_form #submit, .woocommerce #payment #place_order, .woocommerce-page #payment #place_order,
.woocommerce div.product form.cart .button, .woocommerce #content div.product form.cart .button, .woocommerce-page div.product form.cart .button, .woocommerce-page #content div.product form.cart .button,
.woocommerce #review_form #respond .form-submit input, .woocommerce-page #review_form #respond .form-submit input
{ background:#0bbe5f; color:#fff; }

.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #review_form #submit:hover, .woocommerce #payment #place_order:hover, .woocommerce-page #payment #place_order:hover,
.woocommerce div.product form.cart .button:hover, .woocommerce #content div.product form.cart .button:hover, .woocommerce-page div.product form.cart .button:hover, .woocommerce-page #content div.product form.cart .button:hover,
.woocommerce #review_form #respond .form-submit input:hover, .woocommerce-page #review_form #respond .form-submit input:hover
{ background:#000; color:#fff; }

.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt {
background:#ea675d; color:#fff; }

.woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page #content input.button.alt:hover {
background:#000; color:#fff; }

.woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info { border-top-color:#0bbe5f; }

/* COMMENT ELEMENTS */
#comments-list #cancel-comment-reply-link { background-color:#aaa; color:#fff; }
#comments-list #cancel-comment-reply-link:hover { background-color:#666; color:#fff; }

/* LAYOUT ITEMS */
#basilWrapper { }
#basilHeaderTop { background:#fff; }

/* HEADER */
#basilHeaderTop .basilRight p { color:#aaa; }

/* NAVIGATION */
#basilNavBar, .slicknav_menu { background:#0bbe5f; }
ul.basilNav li a, .slicknav_menu a { color:#fff; }
.slicknav_menu .slicknav_icon-bar { background-color:#fff; }
ul.basilNav > li > a:hover, ul.basilNav > li:hover > a, .slicknav_menu a:hover, .slicknav_menu .slicknav_btn { color:#fff; background:#54ce7d; }
ul.basilNav ul { background-color: #54ce7d; }
ul.basilNav ul a { color:#fff; }
ul.basilNav ul li:hover > a { background-color:#fff; color:#888; }
#basilNavBar .basilRight p { color:#d6ffe7; }

/* SOCIALS */
#basilNavBar .basilSocials a, .basilMobileNavContent .basilSocials a { color:#fff; }
#basilNavBar .basilSocials small, .basilMobileNavContent .basilSocials small { background-color:#54ce7d; }
#basilNavBar .basilSocials a:hover i, .basilMobileNavContent .basilSocials a:hover i { color: #000; }
#basilNavBar .basilSocials a:hover small, .basilMobileNavContent .basilSocials a:hover small { background-color: #fff; }

footer .basilSocials a { color:#888; }
footer .basilSocials small { background-color:#333; }
footer .basilSocials a:hover i { color: #fff; }
footer .basilSocials a:hover small { background-color: #0bbe5f; }

/* SLIDER */
.basilSlider { background:#fff; }
.basilSlider .basilSliderNav a { color:#fff; }
.basilRecipeSlider { background:#fff; }

/* BLOG PANELS */
.basilDarkGray .basilPostPanels .basilPostThumbEmpty { background:#555; color:#aaa; }
.basilDarkGray .basilPostPanels article { border:1px solid #333; }
.basilPostPanels article { border:1px solid #ccc; background:#fff; }
.basilPostPanels .basilPostThumbEmpty { background:#ddd; color:#fff; }
.basilPostPanels .basilPostThumbEmpty:hover { background:#0bbe5f; color:#fff; }
.basilPostPanels .basilPostThumb span { color:#fff; }
.basilPostPanels article .basilPost h4 a, .basilPostPanels article .basilPost p { color:#555; }
.basilPostPanels article .basilPost h4 a:hover { color:#0bbe5f; }
.basilPostPanels .basilPostMeta { background:#f5f5f5; }

.basilPostPanels .basilPostThumb span,
.basilPostList .basilPostThumb span { background:rgba(11, 190, 95, 0.8)}

/* BLOG LIST VIEW */
.basilDarkGray .basilPostList .basilPostThumbEmpty { background:#555; color:#aaa; }
.basilPostList .basilPostThumbEmpty { background:#ddd; color:#fff; }
.basilPostList .basilPostThumbEmpty:hover { background:#0bbe5f; color:#fff; }
.basilPostList .basilPostThumb span { color:#fff; }
.basilPostList article .basilPost h4 a, .basilPostList article .basilPost p { color:#555; }
.basilPostList article .basilPost h4 a:hover { color:#0bbe5f; }
.basilPostList article .basilPostMeta, .basilPostList article .basilPostMeta a { color:#aaa; }
.basilPostList article .basilPostMeta a:hover { color:#555; }

.basilPostMeta, .basilPostMeta a { color:#aaa; }
.basilPostMeta a:hover { color:#555; }

/* PAGINATION */
.basilPostsPagination li a { background:#0bbe5f; color:#fff; }
.basilPostsPagination li.basilPrevNextButton a { background:none; color:#0bbe5f; }
.basilPostsPagination li a:hover { background:#333; }
.basilPostsPagination li.basilPrevNextButton a:hover { background:none; color:#333; }
.basilPostsPagination li.active a, .basilPostsPagination li.active a:hover { background:#eee; color:#aaa; }

/* RECENT TWEETS */
.basilRecentTweets { background:#2fbfc6; color:#fff; }
.basilRecentTweets .basilTweetsPrev,
.basilRecentTweets .basilTweetsNext { color:#fff; }
.basilRecentTweets a, .basilRecentTweets a:hover { color:#fff; }

/* FOOTER */
footer, footer a { background:#000; color:#aaa; }

/* OVERRIDES */
#basilHeader.basilHeaderTransparent #basilWrapper { background:none; }
#basilHeader.basilHeaderTransparent #basilHeaderTop { background:none; }
#basilHeader.basilHeaderTransparent #basilNavBar { background:none; }</style><meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."/>
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://basil.boxydemos.com/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://basil.boxydemos.com/wp-content/plugins/js_composer/assets/css/vc-ie8.min.css" media="screen"><![endif]--><meta name="generator" content="Powered by Slider Revolution 5.3.0.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
<noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>	
</head>

<body class="page-template-default page page-id-363 full wpb-js-composer js-comp-ver-4.12.1 vc_responsive">
<div id="basilWrapper">

				
		<!-- HEADER -->
		<header id="basilHeader">
		
						
			<!-- TOP HEADER -->
			<section id="basilHeaderTop">
				<div class="basilShell clearfix">
					<div class="basilLeft" style="width:157px; max-width:157px; height:65px; position:absolute; top:50%; margin-top:-33px;">
						<a href="http://basil.boxydemos.com" id="basilLogo"><img src="http://basil.boxydemos.com/wp-content/uploads/sites/7/2015/05/logo-rt.png" alt="Basil" style="height:65px;" /></a>
					</div>
					<div class="basilRight"><a href="http://basil.boxydemos.com/profile/" class="basilButton bgColor-2"><i class="fa fa-user"></i>&nbsp;&nbsp;Sign In</a></div>
				</div>
			</section>
			
			<div class="mobile-nav-wrapper"><div id="mobileSlickNav"></div><ul id="mobileNav" class="menu"><li id="menu-item-1839" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1839"><a href="http://basil.boxydemos.com/">Home</a></li>
<li id="menu-item-1848" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1848"><a href="http://basil.boxydemos.com/browse-recipes/">Recipe Features</a>
<ul class="sub-menu">
	<li id="menu-item-1838" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1838"><a href="http://basil.boxydemos.com/browse-recipes/">Browse All Recipes</a></li>
	<li id="menu-item-1851" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1851"><a href="http://basil.boxydemos.com/submit-a-recipe/">Submit a Recipe</a></li>
	<li id="menu-item-1849" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1849"><a href="http://basil.boxydemos.com/member-directory/">Member Directory</a></li>
	<li id="menu-item-1811" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1811"><a href="#">Recipe Taxonomies</a>
	<ul class="sub-menu">
		<li id="menu-item-1797" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1797"><a href="#">Recipe Categories</a>
		<ul class="sub-menu">
			<li id="menu-item-1796" class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_category menu-item-1796"><a href="http://basil.boxydemos.com/recipe-category/burgers/">Burgers</a></li>
			<li id="menu-item-1802" class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_category menu-item-1802"><a href="http://basil.boxydemos.com/recipe-category/salads/">Salads</a></li>
			<li id="menu-item-1803" class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_category menu-item-1803"><a href="http://basil.boxydemos.com/recipe-category/sauces/">Sauces</a></li>
			<li id="menu-item-1804" class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_category menu-item-1804"><a href="http://basil.boxydemos.com/recipe-category/hash/">Hash</a></li>
		</ul>
</li>
		<li id="menu-item-1798" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1798"><a href="#">Cuisines</a>
		<ul class="sub-menu">
			<li id="menu-item-1800" class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_cuisine menu-item-1800"><a href="http://basil.boxydemos.com/recipe-cuisine/american/">American</a></li>
			<li id="menu-item-1805" class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_cuisine menu-item-1805"><a href="http://basil.boxydemos.com/recipe-cuisine/italian/">Italian</a></li>
		</ul>
</li>
		<li id="menu-item-1799" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1799"><a href="#">Cooking Methods</a>
		<ul class="sub-menu">
			<li id="menu-item-1801" class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_cooking_method menu-item-1801"><a href="http://basil.boxydemos.com/recipe-cooking-method/grilling/">Grilling</a></li>
			<li id="menu-item-1806" class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_cooking_method menu-item-1806"><a href="http://basil.boxydemos.com/recipe-cooking-method/simmering/">Simmering</a></li>
			<li id="menu-item-1807" class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_cooking_method menu-item-1807"><a href="http://basil.boxydemos.com/recipe-cooking-method/tossing/">Tossing</a></li>
			<li id="menu-item-1808" class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_cooking_method menu-item-1808"><a href="http://basil.boxydemos.com/recipe-cooking-method/sauteing/">Sautéing</a></li>
			<li id="menu-item-1809" class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_cooking_method menu-item-1809"><a href="http://basil.boxydemos.com/recipe-cooking-method/baking/">Baking</a></li>
			<li id="menu-item-1810" class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_cooking_method menu-item-1810"><a href="http://basil.boxydemos.com/recipe-cooking-method/frying/">Frying</a></li>
		</ul>
</li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-1837" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1837"><a href="http://basil.boxydemos.com/submit-a-recipe/">Submit a Recipe</a></li>
<li id="menu-item-1847" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1847"><a href="http://basil.boxydemos.com/shop/">Shop</a></li>
<li id="menu-item-1812" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1812"><a href="#">Pages</a>
<ul class="sub-menu">
	<li id="menu-item-1843" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1843"><a href="http://basil.boxydemos.com/full-width-page/">Full-Width Page</a></li>
	<li id="menu-item-1842" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1842"><a href="http://basil.boxydemos.com/right-sidebar-page/">Right Sidebar Page</a></li>
	<li id="menu-item-1841" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-363 current_page_item menu-item-1841"><a href="http://basil.boxydemos.com/left-sidebar-page/">Left Sidebar Page</a></li>
	<li id="menu-item-1845" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1845"><a href="http://basil.boxydemos.com/visual-composer/">Visual Composer</a></li>
	<li id="menu-item-1846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1846"><a href="http://basil.boxydemos.com/envira-gallery/">Envira Gallery</a></li>
</ul>
</li>
<li id="menu-item-1840" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1840"><a href="http://basil.boxydemos.com/blog/">Blog</a></li>
<li id="menu-item-1850" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1850"><a href="http://basil.boxydemos.com/profile/">Profile</a></li>
</ul><div class="basilMobileNavContent"><div class="basilSocials basilRight">
						<ul>
							<li><a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i><small></small></a></li><li><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i><small></small></a></li><li><a href="#" target="_blank" title="Google Plus"><i class="fa fa-google-plus"></i><small></small></a></li><li><a href="#" target="_blank" title="Instagram"><i class="fa fa-instagram"></i><small></small></a></li><li><a href="#" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i><small></small></a></li><li><a href="#" target="_blank" title="Vimeo"><i class="fa fa-vimeo-square"></i><small></small></a></li><li><a href="#" target="_blank" title="YouTube"><i class="fa fa-youtube-play"></i><small></small></a></li>						</ul>
					</div></div></div>			
			<!-- NAVIGATION -->
			<nav id="basilNavBar">
				<div class="basilShell">
					<div class="menu-main-menu-container"><ul id="menu-main-menu" class="basilNav basilLeft menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1839"><a href="http://basil.boxydemos.com/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1848"><a href="http://basil.boxydemos.com/browse-recipes/">Recipe Features</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1838"><a href="http://basil.boxydemos.com/browse-recipes/">Browse All Recipes</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1851"><a href="http://basil.boxydemos.com/submit-a-recipe/">Submit a Recipe</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1849"><a href="http://basil.boxydemos.com/member-directory/">Member Directory</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1811"><a href="#">Recipe Taxonomies</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1797"><a href="#">Recipe Categories</a>
		<ul class="sub-menu">
			<li class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_category menu-item-1796"><a href="http://basil.boxydemos.com/recipe-category/burgers/">Burgers</a></li>
			<li class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_category menu-item-1802"><a href="http://basil.boxydemos.com/recipe-category/salads/">Salads</a></li>
			<li class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_category menu-item-1803"><a href="http://basil.boxydemos.com/recipe-category/sauces/">Sauces</a></li>
			<li class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_category menu-item-1804"><a href="http://basil.boxydemos.com/recipe-category/hash/">Hash</a></li>
		</ul>
</li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1798"><a href="#">Cuisines</a>
		<ul class="sub-menu">
			<li class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_cuisine menu-item-1800"><a href="http://basil.boxydemos.com/recipe-cuisine/american/">American</a></li>
			<li class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_cuisine menu-item-1805"><a href="http://basil.boxydemos.com/recipe-cuisine/italian/">Italian</a></li>
		</ul>
</li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1799"><a href="#">Cooking Methods</a>
		<ul class="sub-menu">
			<li class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_cooking_method menu-item-1801"><a href="http://basil.boxydemos.com/recipe-cooking-method/grilling/">Grilling</a></li>
			<li class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_cooking_method menu-item-1806"><a href="http://basil.boxydemos.com/recipe-cooking-method/simmering/">Simmering</a></li>
			<li class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_cooking_method menu-item-1807"><a href="http://basil.boxydemos.com/recipe-cooking-method/tossing/">Tossing</a></li>
			<li class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_cooking_method menu-item-1808"><a href="http://basil.boxydemos.com/recipe-cooking-method/sauteing/">Sautéing</a></li>
			<li class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_cooking_method menu-item-1809"><a href="http://basil.boxydemos.com/recipe-cooking-method/baking/">Baking</a></li>
			<li class="menu-item menu-item-type-taxonomy menu-item-object-cp_recipe_cooking_method menu-item-1810"><a href="http://basil.boxydemos.com/recipe-cooking-method/frying/">Frying</a></li>
		</ul>
</li>
	</ul>
</li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1837"><a href="http://basil.boxydemos.com/submit-a-recipe/">Submit a Recipe</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1847"><a href="http://basil.boxydemos.com/shop/">Shop</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1812"><a href="#">Pages</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1843"><a href="http://basil.boxydemos.com/full-width-page/">Full-Width Page</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1842"><a href="http://basil.boxydemos.com/right-sidebar-page/">Right Sidebar Page</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-363 current_page_item menu-item-1841"><a href="http://basil.boxydemos.com/left-sidebar-page/">Left Sidebar Page</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1845"><a href="http://basil.boxydemos.com/visual-composer/">Visual Composer</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1846"><a href="http://basil.boxydemos.com/envira-gallery/">Envira Gallery</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1840"><a href="http://basil.boxydemos.com/blog/">Blog</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1850"><a href="http://basil.boxydemos.com/profile/">Profile</a></li>
</ul></div><div class="basilSocials basilRight">
						<ul>
							<li><a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i><small></small></a></li><li><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i><small></small></a></li><li><a href="#" target="_blank" title="Google Plus"><i class="fa fa-google-plus"></i><small></small></a></li><li><a href="#" target="_blank" title="Instagram"><i class="fa fa-instagram"></i><small></small></a></li><li><a href="#" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i><small></small></a></li><li><a href="#" target="_blank" title="Vimeo"><i class="fa fa-vimeo-square"></i><small></small></a></li><li><a href="#" target="_blank" title="YouTube"><i class="fa fa-youtube-play"></i><small></small></a></li>						</ul>
					</div>				</div>
			</nav>
			
		</header>					<!-- PAGE CONTENT -->
					<section class="basilHPBlock 0 basilRightContent">
						<div class="basilShell">
						
													
							<article class="basilPageContent">
								<h1 class="entry-title">Left Sidebar Page</h1>
								<div id="post-363" class="article post-363 page type-page status-publish hentry">
								<iframe src="https://www.edamam.com/recipe/teriyaki-chicken-7bf4a371c6884d809682a72808da7dc2/chicken" style="border: 0px none;  height: 1500px; width: 667px;">
</iframe>





</div>							
</article>
							
							<aside class="basilSidebar"><div class="sidebar left"><ul class="widgets"><div id="theme-widget-recent-tweets-2" class="widget theme-widget-recent-tweets"><div class="tweets-widget"><h3 class="widget-title"><i class="fa fa-twitter-square"></i>&nbsp;&nbsp;Recent Tweets</h3><a href="http://twitter.com/boxystudio/"target="_blank" class="widget-button bgColor-1">Like</a>			
				<div class="tweets-container">
					
					<ul>							
							<li>
								<img src="<%= @weekly_menu[0]["recipe"]["image"] %>">
							</li>
														<li>
								<img src="<%= @weekly_menu[1]["recipe"]["image"] %>">
							</li>
														<li>
								<img src="<%= @weekly_menu[2]["recipe"]["image"] %>">
							</li>
							</ul>					
				</div>
			
			</div></div><div id="theme-widget-facebook-feed-3" class="widget theme-widget-facebook-feed"><div class="facebook-widget"><h3 class="widget-title"><i class="fa fa-facebook-square"></i>&nbsp;&nbsp;Facebook Feed</h3>				
								
				<ul>
														<li>
										<span class="tweet_text">I submit a ticket last wednesday and i still waiting.</span>
										<span class="tweet_time">Posted Last month</span>
									</li>
																		<li>
										<span class="tweet_text">Hey, I have one doubt before buy some theme. How can I contact you to clarify that question... I would like to know how its look when you have more then 3 events in one day [espres...</span>
										<span class="tweet_time">Posted Last month</span>
									</li>
																		<li>
										<span class="tweet_text">Your website is not working -_-</span>
										<span class="tweet_time">Posted Last month</span>
									</li>
													</ul>
			
			</div></div></ul></div></aside>							
															
						</div>
					</section>
						<!-- FOOTER -->
	<footer>
		<div class="basilShell cf">
		
			<div class="basilLeft">
						Copyright ©2017 Boxy Studio					</div><div class="basilSocials basilRight">
						<ul>
							<li><a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i><small></small></a></li><li><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i><small></small></a></li><li><a href="#" target="_blank" title="Google Plus"><i class="fa fa-google-plus"></i><small></small></a></li><li><a href="#" target="_blank" title="Instagram"><i class="fa fa-instagram"></i><small></small></a></li><li><a href="#" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i><small></small></a></li><li><a href="#" target="_blank" title="Vimeo"><i class="fa fa-vimeo-square"></i><small></small></a></li><li><a href="#" target="_blank" title="YouTube"><i class="fa fa-youtube-play"></i><small></small></a></li>						</ul>
					</div>			
		</div>
	</footer>

</div>

<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=333321836841498";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script><script src="https://apis.google.com/js/platform.js" async defer></script><script type='text/javascript' src='http://basil.boxydemos.com/wp-includes/js/comment-reply.min.js?ver=4.7.4'></script>
<script type='text/javascript' src='//assets.pinterest.com/js/pinit.js?ver=2.4.1'></script>
<script type='text/javascript' src='//basil.boxydemos.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
<script type='text/javascript' src='//basil.boxydemos.com/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/left-sidebar-page\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='//basil.boxydemos.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.0.5'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/left-sidebar-page\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments"};
/* ]]> */
</script>
<script type='text/javascript' src='//basil.boxydemos.com/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.0.5'></script>
<script type='text/javascript' src='http://basil.boxydemos.com/wp-includes/js/wp-embed.min.js?ver=4.7.4'></script>

</body>
</html>
