<div class="offset"></div>
  <div class="light-wrapper page-title">
    <div class="container inner">
      <h1>Side Navigation</h1>
    </div>
  </div>
  <div class="dark-wrapper">
    <div class="container inner">
      <div class="row classic-blog">
        <aside class="col-sm-4 sidebar left-sidebar">
          <div class="sidebox widget">
            <ul class="border-list">
<<<<<<< HEAD
              <li><a href="#">General</a></li>
              <li><a href="#">Change Email</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="#">Change Picture</a></li>
              <li><a href="#">Edit Diet Settings</a></li>
=======
              <li><a href="#">Home</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Elements</a></li>
              <li><a href="#">Pricing Table</a></li>
              <li><a href="#">Retina Icons</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Side Navigation</a></li>
              <li><a href="#">Page Titles</a></li>
              <li><a href="#">Contact</a></li>
>>>>>>> 1dce82bdf31afcdec195be5fd5974dc529ede244
            </ul>
            <!-- /.border-list --> 
          </div>
          <!-- /.widget --> 
          
        </aside>
        <!-- /.col-sm-4 .sidebar -->
        
        <div class="col-sm-8 content lp30">
          <h3>Our Services</h3>
          <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
          <div class="divide30"></div>
          <div class="col-services">
            <div class="row">
              <div class="col-sm-6">
                <div class="icon"> <i class="icon-picons-printer icn"></i> </div>
                <!-- /.icon -->
                <div class="text">
                  <h5 class="upper">Print Design</h5>
                  <p>Nulla vitae libero, a pharetra augue. Integer posuere a ante venenatis condimentum. Donec id elit non mi porta gravida metus.</p>
                </div>
                <!-- /.text --> 
              </div>
              <!-- /.col-sm-6 -->
              <div class="col-sm-6">
                <div class="icon"> <i class="icon-picons-tv icn"></i> </div>
                <!-- /.icon -->
                <div class="text">
                  <h5 class="upper">Motion Video</h5>
                  <p>Vestibulum id ligula porta euismod semper. Aenean lacinia bibendum vestibulum. Cum sociis natoque penatibus et parturient.</p>
                </div>
                <!-- /.text --> 
              </div>
              <!-- /.col-sm-6 --> 
              
            </div>
            <!-- /.row -->
            <div class="divide30"></div>
            <div class="row">
              <div class="col-sm-6">
                <div class="icon"> <i class="icon-picons-gift icn"></i> </div>
                <!-- /.icon -->
                <div class="text">
                  <h5 class="upper">Package Design</h5>
                  <p>Aenean eu leo quam. Pellente ornare sem lacinia quam venenatis vestibulum sagittis montes, nascetur ridiculus mus.</p>
                </div>
                <!-- /.text --> 
              </div>
              <!-- /.col-sm-6 -->
              <div class="col-sm-6">
                <div class="icon"> <i class="icon-picons-casette icn"></i> </div>
                <!-- /.icon -->
                <div class="text">
                  <h5 class="upper">Sound Engineering</h5>
                  <p>Fusce dapibus commodo, tortor mauris condimentum nibh, ut fermentum massa. Maecenas sed diam eget risus varius.</p>
                </div>
                <!-- /.text --> 
              </div>
              <!-- /.col-sm-6 --> 
            </div>
            <!-- /.row -->
            <div class="divide30"></div>
            <div class="row">
              <div class="col-sm-6">
                <div class="icon"> <i class="icon-picons-clock icn"></i> </div>
                <!-- /.icon -->
                <div class="text">
                  <h5 class="upper">Time Management</h5>
                  <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis sit amet non magna sit amet tortor sagittis.</p>
                </div>
                <!-- /.text --> 
              </div>
              <!-- /.col-sm-6 -->
              <div class="col-sm-6">
                <div class="icon"> <i class="icon-picons-brush-2 icn"></i> </div>
                <!-- /.icon -->
                <div class="text">
                  <h5 class="upper">Illustration</h5>
                  <p>Morbi leo risus, porta ac consectetur ac at eros. Cras mattis consectetur purus. Cras mattis consectetur purus fermentum.</p>
                </div>
                <!-- /.text --> 
              </div>
              <!-- /.col-sm-6 --> 
            </div>
            <!-- /.row --> 
          </div>
          <!-- /.services -->
          
          <hr />
          
          <!-- /.social --> 
          
        </div>
        <!-- /.col-sm-8 .content --> 
        
      </div>
      <!-- /.row .classic-blog --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.dark-wrapper -->
  